:root {
  box-sizing: border-box;
  --background-color: linen;
  --links-color: rosybrown;
  --text-color: black;
  --titles-color: saddlebrown;
  --headerfooterBG: sienna;
}

body {
  background-color: var(--background-color);
}

h2, h3 {
  color: var(--titles-color);
}

hr {
  color: var(--titles-color);
  margin-top: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headerfooterBG);
  position: sticky;
  top: 0;
}

#title {
  display: flex;
  align-items: center;
  color: linen;
  margin-left: -1.2em;
  
}

#header-img {
  margin-right: -1em;
}


nav {
  display: flex;
}

nav a {
  color: var(--links-color);
  font-size: 1.2em;
  text-decoration: none;
  margin: 0.5em
}

nav a:active {
  color: var(--background-color);
}

#mission {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#mission p {
  text-align: center;
  margin-top: 0;
}

#video {
  aspect-ratio: 16 / 9;
  width: 50vw;
  max-width: 500px;
}

#pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-items: center;
  column-gap: 1em;
}

#pricing h2 {
  grid-column: 1 / -1;
}

.offers {
  border: 0.1em solid var(--headerfooterBG);
  border-radius: 1em;
  padding: 0;
  margin: 0;
  width: 30vw;
  max-width: 300px;
}

.offers h3 {
  background-color: tan;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.8em 0.8em 0 0;
}

.offers p {
  padding: 0.2em
}


#contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

input {
  margin: 0.5em;
}

#email {
  padding: 0.5rem;
  border-radius: 3em;
  border: 0.1em solid var(--headerfooterBG);
}

input[type="submit"] {
  margin-bottom: 5em;
}

footer {
  background-color: var(--headerfooterBG);
  color: var(--links-color);
  padding: 1em;
  font-size: 0.7rem;
}

footer p {
  margin: 0;
  text-align: right;
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 1.5em;
  }
  nav a {
    font-size: 1em;
    margin-right: 0;
  }

  p {
    font-size: 0.9em;
  }

  #video {
    width: 70vw
  }

  #pricing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  #pricing .offers {
    margin-top: 1em;
    width: 80%;
  }
}